{% extends 'base.html.twig' %}

{% block title %}Mon panier - MyStore
{% endblock %}

{% block content %}

	{% if cart|length == 0 %}
		{% set total = null %}

		<h1>Mon panier :</h1>
		<p>Retrouvez l'ensemble des
			<a href=" {{ path('app_products') }}">produits</a>
			que vous avez ajouté à votre panier.</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Produit</th>


				</tr>
			</thead>
			<tbody>
				<tr>
					<th>
						Votre panier est vide !</th>
				</tr>
			</tbody>
		</table>

	{% else %}

		<h1>Mon panier :
		</h1>
		<p>Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Description</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
					<th scope="col"></th>


				</tr>
			</thead>
			<tbody>
				{% set total = null %}

				{% for product in cart %}
					<tr>


						<th><img height="75px" src="/uploads/{{product.product.illustration }}" alt="{{product.product.name }}">
							{{ product.product.name }}
						</th>
						<th>
							{{ product.product.subtitle }}
						</th>

						<td>
							<a href="{{ path('decrease_to_cart', {'id': product.product.id}) }}">

								<img height="12px" src=" {{ asset('assets/img/minus.png') }} " alt="Enlever mon produit">
							</a>

							x
							{{ product.quantity }}

							<a href="{{ path('add_to_cart', {'id': product.product.id}) }}">
								<img height="12px" src=" {{ asset('assets/img/plus.png') }} " alt="Ajouter mon produit">
							</a>


						</td>

						<td>{{ (product.product.price) / 100 | number_format(2) }}
							€</td>

						<td>{{ ((product.product.price) * product.quantity) / 100 | number_format(2) }}
							€
						</td>
						<td>
							<a href="{{ path('delete_to_cart', {'id': product.product.id}) }}">
								<img height="25px" src=" {{ asset('assets/img/bin.png') }} " alt="supprimer mon produit"></td>
						</td>
					</tr>
					{% set total = total + (product.product.price * product.quantity) %}
				{% endfor %}

			</tbody>
		</table>
	{% endif %}

	<div class="text-right mb-5">
		<p>
			<b>Nombre de produit :</b>
			{{ cart|length }}
		</p>
		<p>
			<b>Total de mon panier :</b>
			{{ total / 100 | number_format(2) }}
			€
		</p>
		<br>
		<a href="{{ path('app_order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>

	</div>
{% endblock %}
