{% extends 'base.html.twig' %}

{% block title %}
	Ma commande - MyStore
{% endblock %}

{% block content %}
	<h1>Ma commande
		{{ order.reference }}</h1>

	<ul>
		<li>
			<a href=" {{ path('app_account') }} ">Retouner à mon compte</a>
		</li>
	</ul>
	<hr>
	<ul class="list-group">
		<li class="list-group-item">
			<p>
				<strong>- Commande passé le :</strong>
				{{ order.createdAt|date("d/m/Y") }}
			</p>
		</li>

		<li class="list-group-item">

			<p>
				<strong>- Référence de la commande :</strong>
				{{ order.reference }}
			</p>
		</li>

		<li class="list-group-item">

			<p>
				<strong>- Transporteur choisi :</strong>
				{{ order.carrierName }}
			</p>
		</li>

		<li class="list-group-item">

			<p>
				<strong>- Détails :</strong>
			</p>

			<table class="table table-striped mt-4">
				<thead>
					<tr>
						<th scope="col">Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix unitaire</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for product in order.orderDetails %}

						<tr>
							<th>{{product.product}}</th>
							<td>{{product.quantity}}</td>
							<td>{{(product.price/100)|number_format(2) }}</td>
							<td>{{(product.total/100)|number_format(2)}}</td>


						</tr>
					{% endfor %}

				</tbody>

			</table>
			<hr>

			<div class="text-right">
				<p>
					<strong>Sous-total :</strong>
					{{ (order.getTotal/100)|number_format(2) }}€

				</p>

				<p>
					<strong>Livraison :</strong>
					{{ (order.carrierPrice/100)|number_format(2) }}€</p>

				<p>
					<strong>Total :</strong>
					{{ ((order.getTotal + order.carrierPrice)/100)|number_format(2) }}€
				</p>
			</div>
		</li>
	</ul>
{% endblock %}
